.arrow {
  color: rgb(51, 51, 51);
}

.arrowLeft, .arrowRight {
  font-size: 1.3em;
  color: #14861d;
}

.arrowLeft {
  float: left;
  margin-right: 20px;
}

.arrowRight {
  float: right;
  margin-left: 20px;
}

.doesntexist {
  opacity: 0.5;
}

.nothingToShow {
  width: 100%;
  height: 350px;
  margin-top: 80px;
  border: 10px dashed #8e8e8e;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
  font-size: 4em;
  color: #8e8e8e;
}

.section_link {
  padding: 8px 16px;
  margin-right: 5px;
}

.section_link.deactivated, .section_link.deactivated:hover {
  cursor: default;
  background-color: #14861d;
  color: white;
  text-decoration: none;
}

.section_link.activated, .section_link.activated:hover {
  cursor: pointer;
  background-color: none;
  color: #14861d;
}
