.container {
  margin-bottom: 30px;
  padding: 0 50px;
  width: 97%;
}

.social-media {
  padding-right: 20px;
}

/* Bootstrap */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: none;
}
